In [2]:
# PACKAGES
import numpy as np  # For numerical operations
import pandas as pd  # For data manipulation and analysis
import matplotlib.pyplot as plt  # For plotting graphs
from sklearn.metrics import mean_squared_error, r2_score  # For model evaluation metrics
from sklearn.linear_model import LinearRegression  # For linear regression modeling
from sklearn.preprocessing import PolynomialFeatures  # For polynomial regression modeling
from statsmodels.tsa.api import SimpleExpSmoothing, ExponentialSmoothing  # For time series forecasting
from tabulate import tabulate  # For tabular display of data
import os  # For interacting with the operating system
import json  # For handling JSON data

# DATA
file_path = 'data2.json'  # Path to the JSON data file
with open(file_path, 'r') as f:  # Open and read the JSON file
    json_data = json.load(f)  # Load data into a Python dictionary
data = pd.DataFrame(json_data)  # Convert dictionary to a pandas DataFrame
display(data)

,P/N,D-1,D-2,D-3,D-4,D-5,D-6,D-7,D-8,D-9,D-10,D-11,D-12,D-13
0,ZZ01,23,22,21,20,19,18,17,16,15,14,13,12,11
1,ZZ02,23,33,22,11,90,89,78,67,56,45,34,23,22
2,129888,10,6,2,2,12,0,8,4,14,8,2,8,10
3,130083,4,18,6,6,10,24,6,16,12,18,0,6,6
4,131584,2,7,6,0,2,2,3,7,8,8,0,1,1
5,132770,2,0,0,0,2,0,0,2,0,0,0,0,0
6,205230,60,60,60,60,60,102,0,94,26,26,94,34,34
7,205401,0,120,96,1,98,2,0,66,1,49,144,0,0
8,3631163,0,128,64,64,64,128,64,128,64,128,0,64,64
9,4024792,0,0,2,1,0,0,0,2,0,0,0,1,0
10,4089316,1,2,0,0,0,0,1,0,2,1,0,1,2
11,4089874,0,0,2,1,0,0,0,2,0,0,0,1,0
12,4350697,0,0,0,0,1,0,1,1,0,0,0,0,0
13,5372426,0,0,128,64,0,0,0,128,0,0,0,0,0
14,5376149,0,1,1,0,1,0,0,0,0,0,0,0,0

In [3]:

# FUNCTION TO PROCESS DATA FOR A SPECIFIC P/N
def process_pn(data, pn_to_filter):
    # Filter data for the specified part number (P/N)
    filtered_data = data[data['P/N'] == pn_to_filter]
    formatted_data = []  # Initialize an empty list for formatted data
    # print(filtered_data)

    # Loop through filtered rows to reformat data
    for index, row in filtered_data.iterrows():
        # Extract quantities from D-2 to D-13 and reverse the order
        quantities = [row[f'D-{i}'] for i in range(2, 14)][::-1]  # Reverse here ## Kenapa 1 nya nggak di ambil?
        # print(quantities)

        # Create formatted data with period and quantity
        for period, quantity in enumerate(quantities, start=1):
            formatted_data.append({
                'P/N': str(row['P/N']),  # Ensure P/N is stored as a string
                'Period': period,  # Add period index
                'Quantity': quantity if not pd.isna(quantity) else None  # Handle missing data
            })

    # Convert the list of dictionaries to a DataFrame
    formatted_df = pd.DataFrame(formatted_data)
    # display(formatted_df)

    # Calculate mean and standard deviation, and set upper bound
    mean_quantity = formatted_df['Quantity'].mean()
    std_quantity = formatted_df['Quantity'].std()


    LB = 0  # Lower bound is set to 0
    UB = mean_quantity + 1.5 * std_quantity  # Calculate upper bound as mean + 1.5 * std deviation

    # round all data
    mean_quantity = round(mean_quantity, 4)  # Round mean value
    std_quantity = round(std_quantity, 4)  # Round standard deviation
    UB = round(UB, 4)  # Round upper bound

    # Print metrics in a table format
    table = [
        ["Mean Quantity", mean_quantity],
        ["Standard Deviation", std_quantity],
        ["Upper Bound (UB)", UB]
    ]
    print(tabulate(table, headers=["Metric", "Value"], tablefmt="pretty"))

    # Clip quantities to upper bound (replace values above UB with UB)
    formatted_df['Quantity'] = np.clip(formatted_df['Quantity'], LB, UB)
    return formatted_df  # Return the processed DataFrame

# SELECT P/N TO FILTER
pn_to_filter = "ZZ02"  # Change this to filter data for a different part number
formatted_df = process_pn(data, pn_to_filter)  # Process data for the selected P/N
display(formatted_df)

+--------------------+---------+
|       Metric       |  Value  |
+--------------------+---------+
|   Mean Quantity    |  47.5   |
| Standard Deviation | 27.8682 |
|  Upper Bound (UB)  | 89.3023 |
+--------------------+---------+

     P/N  Period  Quantity
0   ZZ02       1   22.0000
1   ZZ02       2   23.0000
2   ZZ02       3   34.0000
3   ZZ02       4   45.0000
4   ZZ02       5   56.0000
5   ZZ02       6   67.0000
6   ZZ02       7   78.0000
7   ZZ02       8   89.0000
8   ZZ02       9   89.3023
9   ZZ02      10   11.0000
10  ZZ02      11   22.0000
11  ZZ02      12   33.0000

In [4]:

# MOVING AVERAGE
# Initialize Period column and moving average prediction column
formatted_df['Period'] = np.arange(1, len(formatted_df) + 1)
formatted_df['MA_Prediction'] = np.nan

# Calculate moving average for each period
for i in range(1, len(formatted_df) + 1):
    formatted_df.loc[formatted_df['Period'] == i, 'MA_Prediction'] = formatted_df['Quantity'].iloc[:i].mean()

display(formatted_df)

# If there are 12 periods, predict the 13th period as the mean of the last 12 quantities
if len(formatted_df) == 12:
    last_12_mean = formatted_df['Quantity'].iloc[-12:].mean()
    formatted_df = pd.concat([
        formatted_df,
        pd.DataFrame({'Period': [13], 'MA_Prediction': [last_12_mean], 'Quantity': [np.nan]})
    ], ignore_index=True)
    
display(formatted_df)

     P/N  Period  Quantity  MA_Prediction
0   ZZ02       1   22.0000      22.000000
1   ZZ02       2   23.0000      22.500000
2   ZZ02       3   34.0000      26.333333
3   ZZ02       4   45.0000      31.000000
4   ZZ02       5   56.0000      36.000000
5   ZZ02       6   67.0000      41.166667
6   ZZ02       7   78.0000      46.428571
7   ZZ02       8   89.0000      51.750000
8   ZZ02       9   89.3023      55.922478
9   ZZ02      10   11.0000      51.430230
10  ZZ02      11   22.0000      48.754755
11  ZZ02      12   33.0000      47.441858

     P/N  Period  Quantity  MA_Prediction
0   ZZ02       1   22.0000      22.000000
1   ZZ02       2   23.0000      22.500000
2   ZZ02       3   34.0000      26.333333
3   ZZ02       4   45.0000      31.000000
4   ZZ02       5   56.0000      36.000000
5   ZZ02       6   67.0000      41.166667
6   ZZ02       7   78.0000      46.428571
7   ZZ02       8   89.0000      51.750000
8   ZZ02       9   89.3023      55.922478
9   ZZ02      10   11.0000      51.430230
10  ZZ02      11   22.0000      48.754755
11  ZZ02      12   33.0000      47.441858
12   NaN      13       NaN      47.441858

In [5]:
# WEIGHTED MOVING AVERAGE (WMA)
def calculate_exponential_weighted_moving_average(values, alpha_wma=0.3):
    # Calculate exponential weighted moving average with specified alpha
    return values.ewm(alpha=alpha_wma, adjust=False).mean()

alpha_wma = 0.3  # Smoothing parameter for WMA
formatted_df['Smoothed_Weighted_Prediction'] = calculate_exponential_weighted_moving_average(
    formatted_df['Quantity'], alpha_wma
)
display(formatted_df)

     P/N  Period  Quantity  MA_Prediction  Smoothed_Weighted_Prediction
0   ZZ02       1   22.0000      22.000000                     22.000000
1   ZZ02       2   23.0000      22.500000                     22.300000
2   ZZ02       3   34.0000      26.333333                     25.810000
3   ZZ02       4   45.0000      31.000000                     31.567000
4   ZZ02       5   56.0000      36.000000                     38.896900
5   ZZ02       6   67.0000      41.166667                     47.327830
6   ZZ02       7   78.0000      46.428571                     56.529481
7   ZZ02       8   89.0000      51.750000                     66.270637
8   ZZ02       9   89.3023      55.922478                     73.180136
9   ZZ02      10   11.0000      51.430230                     54.526095
10  ZZ02      11   22.0000      48.754755                     44.768266
11  ZZ02      12   33.0000      47.441858                     41.237787
12   NaN      13       NaN      47.441858                     41.237787

In [8]:

# LINEAR REGRESSION
# Prepare data for linear regression
valid_data = formatted_df.dropna(subset=['Quantity'])
print(valid_data)
X = valid_data[['Period']]  # Independent variable
y = valid_data['Quantity']  # Dependent variable
model = LinearRegression()  # Initialize linear regression model
model.fit(X, y)  # Fit model to the data
formatted_df['Linear_Regression_Prediction'] = model.predict(formatted_df[['Period']])  # Predict for all periods
display(formatted_df)

     P/N  Period  Quantity  MA_Prediction  Smoothed_Weighted_Prediction  \
0   ZZ02       1   22.0000      22.000000                     22.000000
1   ZZ02       2   23.0000      22.500000                     22.300000
2   ZZ02       3   34.0000      26.333333                     25.810000
3   ZZ02       4   45.0000      31.000000                     31.567000
4   ZZ02       5   56.0000      36.000000                     38.896900
5   ZZ02       6   67.0000      41.166667                     47.327830
6   ZZ02       7   78.0000      46.428571                     56.529481
7   ZZ02       8   89.0000      51.750000                     66.270637
8   ZZ02       9   89.3023      55.922478                     73.180136
9   ZZ02      10   11.0000      51.430230                     54.526095
10  ZZ02      11   22.0000      48.754755                     44.768266
11  ZZ02      12   33.0000      47.441858                     41.237787

    Linear_Regression_Prediction
0                      42.008945
1                      42.996747
2                      43.984550
3                      44.972352
4                      45.960155
5                      46.947957
6                      47.935760
7                      48.923562
8                      49.911364
9                      50.899167
10                     51.886969
11                     52.874772

,P/N,Period,Quantity,MA_Prediction,Smoothed_Weighted_Prediction,Linear_Regression_Prediction
0,ZZ02,1,22.0000,22.000000,22.000000,42.008945
1,ZZ02,2,23.0000,22.500000,22.300000,42.996747
2,ZZ02,3,34.0000,26.333333,25.810000,43.984550
3,ZZ02,4,45.0000,31.000000,31.567000,44.972352
4,ZZ02,5,56.0000,36.000000,38.896900,45.960155
5,ZZ02,6,67.0000,41.166667,47.327830,46.947957
6,ZZ02,7,78.0000,46.428571,56.529481,47.935760
7,ZZ02,8,89.0000,51.750000,66.270637,48.923562
8,ZZ02,9,89.3023,55.922478,73.180136,49.911364
9,ZZ02,10,11.0000,51.430230,54.526095,50.899167
10,ZZ02,11,22.0000,48.754755,44.768266,51.886969
11,ZZ02,12,33.0000,47.441858,41.237787,52.874772
12,NaN,13,NaN,47.441858,41.237787,53.862574

In [9]:

# POLYNOMIAL REGRESSION (DEGREE 2)
degree_2 = 2  # Degree of the polynomial
poly = PolynomialFeatures(degree=degree_2)  # Create polynomial features
X_poly = poly.fit_transform(X)  # Transform input features
poly_model = LinearRegression()  # Initialize linear regression model
poly_model.fit(X_poly, y)  # Fit polynomial model
X_all_poly = poly.transform(formatted_df[['Period']])  # Transform all periods
formatted_df['Polynomial_Regression_Prediction_Degree_2'] = poly_model.predict(X_all_poly)  # Predict values

# POLYNOMIAL REGRESSION (DEGREE 3)
degree_3 = 3  # Degree of the polynomial
poly = PolynomialFeatures(degree=degree_3)  # Create polynomial features
X_poly = poly.fit_transform(X)  # Transform input features
poly_model = LinearRegression()  # Initialize linear regression model
poly_model.fit(X_poly, y)  # Fit polynomial model
X_all_poly = poly.transform(formatted_df[['Period']])  # Transform all periods
formatted_df['Polynomial_Regression_Prediction_Degree_3'] = poly_model.predict(X_all_poly)  # Predict values

display(formatted_df)

,P/N,Period,Quantity,MA_Prediction,Smoothed_Weighted_Prediction,Linear_Regression_Prediction,Polynomial_Regression_Prediction_Degree_2,Polynomial_Regression_Prediction_Degree_3
0,ZZ02,1,22.0000,22.000000,22.000000,42.008945,8.272044,14.442285
1,ZZ02,2,23.0000,22.500000,22.300000,42.996747,27.661792,27.100862
2,ZZ02,3,34.0000,26.333333,25.810000,43.984550,43.371152,39.444635
3,ZZ02,4,45.0000,31.000000,31.567000,44.972352,55.400122,50.725697
4,ZZ02,5,56.0000,36.000000,38.896900,45.960155,63.748702,60.196140
5,ZZ02,6,67.0000,41.166667,47.327830,46.947957,68.416894,67.108055
6,ZZ02,7,78.0000,46.428571,56.529481,47.935760,69.404696,70.713535
7,ZZ02,8,89.0000,51.750000,66.270637,48.923562,66.712110,70.264672
8,ZZ02,9,89.3023,55.922478,73.180136,49.911364,60.339134,65.013558
9,ZZ02,10,11.0000,51.430230,54.526095,50.899167,50.285769,54.212285
10,ZZ02,11,22.0000,48.754755,44.768266,51.886969,36.552015,37.112945
11,ZZ02,12,33.0000,47.441858,41.237787,52.874772,19.137871,12.967631
12,NaN,13,NaN,47.441858,41.237787,53.862574,-1.956661,-18.971567

In [12]:

# SINGLE EXPONENTIAL SMOOTHING (SES)
alpha_ses = 0.8  # Smoothing parameter for SES
def apply_ses(values, alpha=alpha_ses):
    # Apply single exponential smoothing to the data
    ses_model = SimpleExpSmoothing(values).fit(smoothing_level=alpha, optimized=False)
    return ses_model.fittedvalues

formatted_df['SES_Prediction'] = apply_ses(formatted_df['Quantity'], alpha=alpha_ses)  # Apply SES
display(formatted_df)

,P/N,Period,Quantity,MA_Prediction,Smoothed_Weighted_Prediction,Linear_Regression_Prediction,Polynomial_Regression_Prediction_Degree_2,Polynomial_Regression_Prediction_Degree_3,SES_Prediction
0,ZZ02,1,22.0000,22.000000,22.000000,42.008945,8.272044,14.442285,22.000000
1,ZZ02,2,23.0000,22.500000,22.300000,42.996747,27.661792,27.100862,22.000000
2,ZZ02,3,34.0000,26.333333,25.810000,43.984550,43.371152,39.444635,22.800000
3,ZZ02,4,45.0000,31.000000,31.567000,44.972352,55.400122,50.725697,31.760000
4,ZZ02,5,56.0000,36.000000,38.896900,45.960155,63.748702,60.196140,42.352000
5,ZZ02,6,67.0000,41.166667,47.327830,46.947957,68.416894,67.108055,53.270400
6,ZZ02,7,78.0000,46.428571,56.529481,47.935760,69.404696,70.713535,64.254080
7,ZZ02,8,89.0000,51.750000,66.270637,48.923562,66.712110,70.264672,75.250816
8,ZZ02,9,89.3023,55.922478,73.180136,49.911364,60.339134,65.013558,86.250163
9,ZZ02,10,11.0000,51.430230,54.526095,50.899167,50.285769,54.212285,88.691873
10,ZZ02,11,22.0000,48.754755,44.768266,51.886969,36.552015,37.112945,26.538375
11,ZZ02,12,33.0000,47.441858,41.237787,52.874772,19.137871,12.967631,22.907675
12,NaN,13,NaN,47.441858,41.237787,53.862574,-1.956661,-18.971567,30.981535

In [13]:

# DOUBLE EXPONENTIAL SMOOTHING (DES)
beta_des = 0.3  # Trend smoothing parameter for DES
def apply_des(values, alpha=alpha_ses, beta=beta_des):
    # Apply double exponential smoothing to the data
    des_model = ExponentialSmoothing(values, trend='add', seasonal=None).fit(smoothing_level=alpha, smoothing_trend=beta, optimized=False)
    return des_model.fittedvalues

formatted_df['DES_Prediction'] = apply_des(formatted_df['Quantity'], alpha=alpha_ses, beta=beta_des)  # Apply DES
display(formatted_df)

,P/N,Period,Quantity,MA_Prediction,Smoothed_Weighted_Prediction,Linear_Regression_Prediction,Polynomial_Regression_Prediction_Degree_2,Polynomial_Regression_Prediction_Degree_3,SES_Prediction,DES_Prediction
0,ZZ02,1,22.0000,22.000000,22.000000,42.008945,8.272044,14.442285,22.000000,30.972518
1,ZZ02,2,23.0000,22.500000,22.300000,42.996747,27.661792,27.100862,22.000000,26.187257
2,ZZ02,3,34.0000,26.333333,25.810000,43.984550,43.371152,39.444635,22.800000,25.265264
3,ZZ02,4,45.0000,31.000000,31.567000,44.972352,55.400122,50.725697,31.760000,35.977201
4,ZZ02,5,56.0000,36.000000,38.896900,45.960155,63.748702,60.196140,42.352000,49.085061
5,ZZ02,6,67.0000,41.166667,47.327830,46.947957,68.416894,67.108055,53.270400,62.166218
6,ZZ02,7,78.0000,46.428571,56.529481,47.935760,69.404696,70.713535,64.254080,74.742557
7,ZZ02,8,89.0000,51.750000,66.270637,48.923562,66.712110,70.264672,75.250816,86.839611
8,ZZ02,9,89.3023,55.922478,73.180136,49.911364,60.339134,65.013558,86.250163,98.577515
9,ZZ02,10,11.0000,51.430230,54.526095,50.899167,50.285769,54.212285,88.691873,98.940885
10,ZZ02,11,22.0000,48.754755,44.768266,51.886969,36.552015,37.112945,26.538375,15.265906
11,ZZ02,12,33.0000,47.441858,41.237787,52.874772,19.137871,12.967631,22.907675,8.947093
12,NaN,13,NaN,47.441858,41.237787,53.862574,-1.956661,-18.971567,30.981535,22.256028

In [ ]:

# RMSE & R2 METRICS
results = []  # Initialize list to store results
# Evaluate models for RMSE and R2
for column in ['MA_Prediction', 'Smoothed_Weighted_Prediction', 'Linear_Regression_Prediction',
               'Polynomial_Regression_Prediction_Degree_2', 'Polynomial_Regression_Prediction_Degree_3',
               'SES_Prediction', 'DES_Prediction']:
    valid_data = formatted_df.dropna(subset=['Quantity', column])  # Filter valid data
    if valid_data.empty:  # Skip if no valid data
        print(f"Skipping {column} due to lack of valid data.")
        continue
    try:
        rmse = np.sqrt(mean_squared_error(valid_data['Quantity'], valid_data[column]))  # Calculate RMSE
        r2 = r2_score(valid_data['Quantity'], valid_data[column])  # Calculate R2
        results.append({'Model': column, 'RMSE': rmse, 'R2': r2})  # Append results
    except Exception as e:
        print(f"Error evaluating {column}: {e}")  # Handle errors

results_df = pd.DataFrame(results)  # Convert results to a DataFrame

# BEST MODEL SELECTION
best_model_row = results_df.loc[results_df['R2'].idxmax()]  # Select best model by highest R2
best_model_name = best_model_row['Model']  # Best model name
best_model_r2 = best_model_row['R2']  # Best model R2 value
next_period_prediction = formatted_df.loc[formatted_df['Period'] == 13, best_model_name].values[0]  # Predict next period

# PLOT ALL GRAPHS
plt.figure(figsize=(12, 8))  # Set figure size
plt.plot(formatted_df['Period'], formatted_df['Quantity'], label='Data Historis', marker='o', color='black')  # Plot historical data
plt.plot(formatted_df['Period'], formatted_df['MA_Prediction'], label='Prediksi MA', linestyle='--', color='orange')  # Plot MA predictions
plt.plot(formatted_df['Period'], formatted_df['Smoothed_Weighted_Prediction'], label='Prediksi WMA', linestyle='--', color='blue')  # Plot WMA predictions
plt.plot(formatted_df['Period'], formatted_df['Linear_Regression_Prediction'], label='Prediksi Regresi Linear', linestyle='--', color='green')  # Plot linear regression predictions
plt.plot(formatted_df['Period'], formatted_df['Polynomial_Regression_Prediction_Degree_2'], label='Prediksi Regresi Polinomial Derajat 2', linestyle='--', color='red')  # Plot polynomial regression (degree 2) predictions
plt.plot(formatted_df['Period'], formatted_df['Polynomial_Regression_Prediction_Degree_3'], label='Prediksi Regresi Polinomial Derajat 3', linestyle='--', color='purple')  # Plot polynomial regression (degree 3) predictions
plt.plot(formatted_df['Period'], formatted_df['SES_Prediction'], label='Prediksi SES', linestyle='--', color='magenta')  # Plot SES predictions
plt.plot(formatted_df['Period'], formatted_df['DES_Prediction'], label='Prediksi DES', linestyle='--', color='yellow')  # Plot DES predictions
plt.xlabel('Period')  # Set x-axis label
plt.ylabel('Quantity')  # Set y-axis label
plt.title(f'Prediksi Quantity untuk P/N {pn_to_filter}')  # Set plot title
plt.legend()  # Add legend
plt.grid(False)  # Disable grid
plt.show()  # Display the plot

# PLOT BEST MODEL
plt.figure(figsize=(12, 8))  # Set figure size
plt.plot(formatted_df['Period'], formatted_df['Quantity'], label='Data Historis', marker='o', color='black')  # Plot historical data
plt.plot(formatted_df['Period'], formatted_df[best_model_name], label=f'Best Model: {best_model_name}', linestyle='-', color='blue')  # Plot best model predictions
plt.xlabel('Period')  # Set x-axis label
plt.ylabel('Quantity')  # Set y-axis label
plt.title(f'Prediksi menggunakan {best_model_name} untuk 1 bulan kedepan')  # Set plot title
plt.legend()  # Add legend
plt.grid(False)  # Disable grid
plt.show()  # Display the plot

# DISPLAY DATAFRAMES
print(tabulate(formatted_df, headers='keys', tablefmt='fancy_grid'))  # Print formatted data
print(tabulate(results_df.sort_values(by='R2', ascending=False), headers='keys', tablefmt='fancy_grid'))  # Print sorted results

# DISPLAY BEST MODEL SUMMARY
table_data = [
    ["P/N", pn_to_filter],
    ["Best Model", best_model_name],
    ["Best R-squared", f"{best_model_r2:.4f}"],
    ["Prediction for 13th Period", f"{next_period_prediction:.0f}"]
]
print(tabulate(table_data, headers=["Metric", "Value"], tablefmt="fancy_grid"))  # Print summary
display(formatted_df)
# EXPORT RESULTS TO JSON
output_file_path = 'results.json'  # Path to output file
formatted_df.to_json(output_file_path, orient='records', indent=4)  # Save DataFrame to JSON

In [ ]:
)
# RMSE & R2 METRICS
results = []  # Initialize list to store results
# Evaluate models for RMSE and R2
for column in ['MA_Prediction', 'Smoothed_Weighted_Prediction', 'Linear_Regression_Prediction',
               'Polynomial_Regression_Prediction_Degree_2', 'Polynomial_Regression_Prediction_Degree_3',
               'SES_Prediction', 'DES_Prediction']:
    valid_data = formatted_df.dropna(subset=['Quantity', column])  # Filter valid data
    if valid_data.empty:  # Skip if no valid data
        print(f"Skipping {column} due to lack of valid data.")
        continue
    try:
        rmse = np.sqrt(mean_squared_error(valid_data['Quantity'], valid_data[column]))  # Calculate RMSE
        r2 = r2_score(valid_data['Quantity'], valid_data[column])  # Calculate R2
        results.append({'Model': column, 'RMSE': rmse, 'R2': r2})  # Append results
    except Exception as e:
        print(f"Error evaluating {column}: {e}")  # Handle errors

results_df = pd.DataFrame(results)  # Convert results to a DataFrame

# BEST MODEL SELECTION
best_model_row = results_df.loc[results_df['R2'].idxmax()]  # Select best model by highest R2
best_model_name = best_model_row['Model']  # Best model name
best_model_r2 = best_model_row['R2']  # Best model R2 value
next_period_prediction = formatted_df.loc[formatted_df['Period'] == 13, best_model_name].values[0]  # Predict next period

# PLOT ALL GRAPHS
plt.figure(figsize=(12, 8))  # Set figure size
plt.plot(formatted_df['Period'], formatted_df['Quantity'], label='Data Historis', marker='o', color='black')  # Plot historical data
plt.plot(formatted_df['Period'], formatted_df['MA_Prediction'], label='Prediksi MA', linestyle='--', color='orange')  # Plot MA predictions
plt.plot(formatted_df['Period'], formatted_df['Smoothed_Weighted_Prediction'], label='Prediksi WMA', linestyle='--', color='blue')  # Plot WMA predictions
plt.plot(formatted_df['Period'], formatted_df['Linear_Regression_Prediction'], label='Prediksi Regresi Linear', linestyle='--', color='green')  # Plot linear regression predictions
plt.plot(formatted_df['Period'], formatted_df['Polynomial_Regression_Prediction_Degree_2'], label='Prediksi Regresi Polinomial Derajat 2', linestyle='--', color='red')  # Plot polynomial regression (degree 2) predictions
plt.plot(formatted_df['Period'], formatted_df['Polynomial_Regression_Prediction_Degree_3'], label='Prediksi Regresi Polinomial Derajat 3', linestyle='--', color='purple')  # Plot polynomial regression (degree 3) predictions
plt.plot(formatted_df['Period'], formatted_df['SES_Prediction'], label='Prediksi SES', linestyle='--', color='magenta')  # Plot SES predictions
plt.plot(formatted_df['Period'], formatted_df['DES_Prediction'], label='Prediksi DES', linestyle='--', color='yellow')  # Plot DES predictions
plt.xlabel('Period')  # Set x-axis label
plt.ylabel('Quantity')  # Set y-axis label
plt.title(f'Prediksi Quantity untuk P/N {pn_to_filter}')  # Set plot title
plt.legend()  # Add legend
plt.grid(False)  # Disable grid
plt.show()  # Display the plot

# PLOT BEST MODEL
plt.figure(figsize=(12, 8))  # Set figure size
plt.plot(formatted_df['Period'], formatted_df['Quantity'], label='Data Historis', marker='o', color='black')  # Plot historical data
plt.plot(formatted_df['Period'], formatted_df[best_model_name], label=f'Best Model: {best_model_name}', linestyle='-', color='blue')  # Plot best model predictions
plt.xlabel('Period')  # Set x-axis label
plt.ylabel('Quantity')  # Set y-axis label
plt.title(f'Prediksi menggunakan {best_model_name} untuk 1 bulan kedepan')  # Set plot title
plt.legend()  # Add legend
plt.grid(False)  # Disable grid
plt.show()  # Display the plot

# DISPLAY DATAFRAMES
print(tabulate(formatted_df, headers='keys', tablefmt='fancy_grid'))  # Print formatted data
print(tabulate(results_df.sort_values(by='R2', ascending=False), headers='keys', tablefmt='fancy_grid'))  # Print sorted results

# DISPLAY BEST MODEL SUMMARY
table_data = [
    ["P/N", pn_to_filter],
    ["Best Model", best_model_name],
    ["Best R-squared", f"{best_model_r2:.4f}"],
    ["Prediction for 13th Period", f"{next_period_prediction:.0f}"]
]
print(tabulate(table_data, headers=["Metric", "Value"], tablefmt="fancy_grid"))  # Print summary
display(formatted_df)
# EXPORT RESULTS TO JSON
output_file_path = 'results.json'  # Path to output file
formatted_df.to_json(output_file_path, orient='records', indent=4)  # Save DataFrame to JSON