In [ ]:
""" 
Python Script to generate Spare Parts Demand for 14th Month by 13 Last Month
Original Author     : Michael Brandon
Original Modified   : 2024-12-24
Modified By         : Unknown Player
Modified Date       : 2024-12-24
"""

In [1]:
# PACKAGES
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from statsmodels.tsa.api import SimpleExpSmoothing, ExponentialSmoothing
from tabulate import tabulate
import os
import json
import sys
import requests
import math

# Set Display Width Longer
pd.options.display.max_colwidth = 100

In [14]:
# Retrive JSON Data From API.
url = "http://172.16.1.59:18080/v1/web/get-spare-parts-all-history-data"

# Fetch JSON data from the API
response = requests.get(url)
response.raise_for_status()  # Raise an error if the request fails
df = response.json()  # Parse JSON data

# Convert JSON to Pandas DataFrame
data = pd.DataFrame(df['data'][:5])
display(data)

,branch,agency,partno,D,FD
0,99,99,ZZ01,"[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]",0.0
1,99,99,ZZ02,"[22, 23, 34, 45, 56, 67, 78, 89, 90, 11, 22, 33, 23]",0.0
2,99,99,ZZ03,"[33, 67, 77, 88, 99, 10, 21, 32, 43, 54, 65, 76, 87]",0.0
3,99,99,ZZ04,"[44, 10, 20, 30, 40, 50, 60, 70, 80, 90, 23, 34, 12]",0.0
4,99,99,ZZ05,"[55, 25, 22, 23, 35, 66, 12, 23, 34, 45, 56, 67, 78]",0.0

In [ ]:
# Add Metric to the data

data['mean_12'] = data['D'].apply(lambda x: np.mean(x[:12]))
data['std_12'] = data['D'].apply(lambda x: np.std(x[:12], ddof=1))
data['up'] = data['mean_12'] + 1.5 * data['std_12']
display(data)

,branch,agency,partno,D,FD,mean_12,std_12,up
0,99,99,ZZ01,"[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]",0.0,16.500000,3.452053,21.678079
1,99,99,ZZ02,"[22, 23, 34, 45, 56, 67, 78, 89, 90, 11, 22, 33, 23]",0.0,47.500000,26.681767,87.522650
2,99,99,ZZ03,"[33, 67, 77, 88, 99, 10, 21, 32, 43, 54, 65, 76, 87]",0.0,55.416667,26.662890,95.411002
3,99,99,ZZ04,"[44, 10, 20, 30, 40, 50, 60, 70, 80, 90, 23, 34, 12]",0.0,45.916667,23.841345,81.678684
4,99,99,ZZ05,"[55, 25, 22, 23, 35, 66, 12, 23, 34, 45, 56, 67, 78]",0.0,38.583333,17.932551,65.482160

In [19]:
a = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]
df = pd.DataFrame(a)
display(df)
display(df.mean())
display(df.std())

     0
0   11
1   12
2   13
3   14
4   15
5   16
6   17
7   18
8   19
9   20
10  21
11  22

0    16.5
dtype: float64

0    3.605551
dtype: float64