In [ ]:
""" 
Python Script to generate Spare Parts Demand for 14th Month by 13 Last Month
Original Author     : Brandon
Original Modified   : 2024-12-24
Modified By         : Unknown Player
Modified Date       : 2024-12-24
"""

In [10]:
# PACKAGES
import numpy as np  # For numerical operations
import pandas as pd  # For data manipulation and analysis
import matplotlib.pyplot as plt  # For plotting graphs
from sklearn.metrics import mean_squared_error, r2_score  # For model evaluation metrics
from sklearn.linear_model import LinearRegression  # For linear regression modeling
from sklearn.preprocessing import PolynomialFeatures  # For polynomial regression modeling
from statsmodels.tsa.api import SimpleExpSmoothing, ExponentialSmoothing  # For time series forecasting
from tabulate import tabulate  # For tabular display of data
import os  # For interacting with the operating system
import json  # For handling JSON data
import sys
import requests
import math

# Set Display Width Longer
pd.options.display.max_colwidth = 100

In [11]:
# Retrive JSON Data From API.
url = "http://172.16.1.59:18080/v1/web/get-spare-parts-all-history-data"

# Fetch JSON data from the API
response = requests.get(url)
response.raise_for_status()  # Raise an error if the request fails
df = response.json()  # Parse JSON data

# Convert JSON to Pandas DataFrame
data = pd.DataFrame(df['data'])
display(data)

,branch,agency,partno,D,FD
0,99,99,ZZ01,"[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]",0.0
1,99,99,ZZ02,"[11, 23, 34, 45, 56, 67, 78, 89, 90, 11, 22, 33, 23]",0.0
2,99,99,ZZ03,"[55, 67, 77, 88, 99, 10, 21, 32, 43, 54, 65, 76, 87]",0.0
3,99,99,ZZ04,"[98, 10, 20, 30, 40, 50, 60, 70, 80, 90, 23, 34, 12]",0.0
4,99,99,ZZ05,"[23, 25, 22, 23, 35, 66, 12, 23, 34, 45, 56, 67, 78]",0.0
...,...,...,...,...,...
1119,22,15,87542748,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0]",0.0
1120,22,15,87543889,"[0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0.0
1121,22,15,87543965,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0]",0.0
1122,22,15,87543968,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 3]",0.0
1123,22,15,87547070,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0.0